TELEGRAM_BOT_TOKEN=
MAX_BOT_TOKEN=
MAX_BOT_USERNAME=
MAX_WEBHOOK_SECRET=
APP_BASE_URL=https://halloween.togulev.com
DATABASE_PATH=./data/halloween.db
ADMIN_PASSWORD=change-me
PORT=3001
NODE_ENV=production
SUPER_ADMIN_TELEGRAM_USERNAME=a_togulev
SUPER_ADMIN_TELEGRAM_ID=
